* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	/* min-width: 300px; */
}

/* TODO */
/*? font-family: 'Comfortaa', cursive; */
/* ?font-family: 'Josefin Sans', sans-serif; */
/* ?font-family: 'Roboto Flex', sans-serif;   */
body {
	background-color: white;
}

/*  */
#logo {
	z-index: 99;
	border-radius: 15rem;
	position: fixed;
	max-width: 200px;
	/* width: clamp(12rem, 2.5vw, 15rem); */
	/* width: clamp(12rem, 9.75rem + 10vw, 15rem); */
	width: clamp(7rem, 20vw, 12rem);
	left: 0;
	top: 0;
	margin: 1rem;
}

#logo:hover {
	background-color: rgb(122, 170, 113);
}

#button-container {
	z-index: 99;
	position: fixed;
	left: 40vw;
	display: flex;
	justify-content: right;
	align-content: center;
	gap: 1rem;
	margin: 1rem;
	/* margin-right: 4rem; */
	margin-right: 9vw;
}

#button-container-about {
	z-index: 99;
	position: fixed;
	left: 40vw;
	display: flex;
	justify-content: right;
	/* align-content: center; */
	align-items: center;
	/* flex-wrap: wrap; */
	gap: 1rem;
	margin: 1rem;
	/* margin-right: 4rem; */
	margin-right: 9vw;
}

#button-container-projects {
	z-index: 99;
	position: fixed;
	left: 60vw;
	display: flex;
	/* flex-direction: column; */
	justify-content: right;
	align-content: center;
	gap: 1rem;
	margin: 1rem;
	/* margin-right: 4rem; */
	margin-right: 9vw;
}

#button-container-contact {
	z-index: 99;
	position: fixed;
	left: 60vw;
	display: flex;
	/* flex-direction: column; */
	justify-content: right;
	align-content: center;
	gap: 1rem;
	margin: 1rem;
	/* margin-right: 4rem; */
	margin-right: 9vw;
}

.button {
	background-color: rgb(255, 255, 255, 0.8);
	border-radius: 20px;
	z-index: 99;
	text-align: center;
	color: black;
	font-family: "Josefin Sans", sans-serif;
	font-size: clamp(1rem, 2.5vw, 2rem);
	text-decoration: none;
	/* padding: clamp(1rem, 5vw, 2rem); */
	/* padding: 0.6rem; */
	padding: 0.8vw;
	margin: 0.2rem;
	transition: background-color 100ms 100ms;
	/* transition: background-color 200ms 300ms; */
	/* transition: box-shadow 100ms 100ms; */
	/* transition: transform 0.2s, box-shadow 0.2s; */
}

.button:hover {
	/* transition: background-color 10ms 20ms; */
	background-color: rgb(158, 209, 133, 0.9);
	/* box-shadow: 0 20px 100px 1px rgba(255, 255, 255, 0.4); */
	/*  */
	transition: transform 100ms 100ms;
	transform: translateY(2.5px);
	box-shadow: -4px 15px 25px -4px rgba(30, 30, 60, 0.25);
}

/* *****Background Photos******************** */
.background-photo {
	z-index: 0;
	max-width: 800px;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 80%;
}

.background-photo-about {
	z-index: 0;
	max-width: 600px;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 44%;
}

.background-photo-projects {
	z-index: 0;
	max-width: 1500px;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	/* width: 100%; */
}

.background-photo-contact {
	z-index: 0;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 30%;
	/* max-width: 700px; */
	/* width: 100%; */
	/* right: unset; */
	/* bottom: unset; */
}

.background-thankyou {
	z-index: 0;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
}

/* *Background Photos END*********************************** */

/***** Icon Container ****************************************/
.icon-container {
	z-index: 99;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex: 2 2 3rem;
	gap: 1rem;
	position: fixed;
	left: 0;
	bottom: 3rem;
	margin: 2rem;
	padding: 0;
	/* height: clamp(20rem, 5vh, 40rem); */
}

.icon-container a {
	text-decoration: none;
	color: black;
	/* pointer-events: none; */
	/* font-size: clamp(0.5rem, 0.167rem + 1.5671vw, 1.5rem); */
}

#icon-text {
	font-family: "Josefin Sans", sans-serif;
	/* font-size: clamp(0.5rem, 0.167rem + 1.5671vw, 1.5rem); */
	/* font-size: clamp(0.5rem, 0.3269rem + 0.7692vw, 1rem); */
	font-size: 1rem;
	position: relative;
	left: 1vw;
	/* bottom: 1.6vw; */
	bottom: clamp(0.5rem, 0.167rem + 1.5671vw, 1.5rem);
	background-color: rgb(255, 255, 255, 0.9);
	border-radius: 4px;
	padding: 4px 6px 4px;
	display: none;
	pointer-events: none;
	/* box-shadow: 22px 14px 24px 9px rgba(30, 30, 60, 0.26); */
}

.icon {
	width: clamp(2.3rem, 5vw, 3.5rem);
	border-radius: 2rem;
	background-color: rgb(255, 255, 255, 0.5);
	box-shadow: 1px 5px 20px -10px rgba(30, 30, 60, 0.7);
}

.icon:hover {
	background-color: rgb(181, 223, 170);
	box-shadow: -11px 15px 34px -5px rgba(30, 30, 60, 0.3);
}

.icon:hover~#icon-text {
	display: inline;
}

/* ***END Icon Container************************************ */

/* **Texts **********************************/
.about-container {
	z-index: 98;
	font-family: "Comfortaa", cursive;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 2rem;
	/* font-size: clamp(0.5rem, 0.1538rem + 1.5385vw, 1.5rem); */
	font-size: clamp(0.5rem, 0.167rem + 1.5671vw, 1.5rem);
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 45vw;
	line-height: clamp(1.2rem, 0.867rem + 1.5671vw, 2.2rem);
	left: 12vw;
	margin-left: 3rem;
	top: 10rem;
}

.dev-icons {
	font-family: "devicons";
	font-size: clamp(1rem, 0.3585rem + 3.0189vw, 3rem);
	margin-bottom: 2rem;
}

#middle-text {
	text-align: center;
	font-family: "Comfortaa", cursive;
	font-size: 2rem;
	position: relative;
	top: 50vh;
	left: 24vw;
	width: 30%;
	margin: 0;
	background-color: rgb(255, 255, 255, 0.5);
	/* border: 1px solid; */
}

/* ******Projects Page************************* */
.projects {
	/* /* font-family: "Comfortaa", cursive; */
	font-family: "Josefin Sans", sans-serif;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 1rem;
	/* font-size: clamp(0.5rem, 0.1538rem + 1.5385vw, 1.5rem); */
	font-size: clamp(0.5rem, 0.167rem + 1.5671vw, 1.5rem);
	position: relative;
	max-width: 50vw;
	left: 12vw;
	margin-left: 3rem;
	top: 3rem;
	padding: 3rem;
}

.projects h1 {
	margin-bottom: 3vh;
	font-weight: 800;
	font-size: 3rem;
}

.project-name {
	margin: 0 !important;
}

.project-container {
	display: grid;
	grid-template-columns: repeat(auto-fill);
	gap: 2rem 1rem;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.project {
	text-align: center;
}

.project p {
	margin: 1vw;
}

.project-name {
	font-weight: 800;
	font-size: larger;
	text-shadow: 0.3px 0.3px 1px black;
}

.project a:not(.project-image-link) {
	text-decoration: none;
	font-weight: 700;
	margin: 1vw;
	padding: 0.6vw 1.8vw;
	background-color: rgb(175, 223, 167);
	border-radius: 1rem;
	text-align: center;
	/* font-size: 2rem; */
	color: black;
	transition: background-color 100ms 50ms;
	transition: top 100ms 50ms;
	box-shadow: 1px 2px 1px rgb(0, 0, 0, 0.3);
	/* box-shadow: -1px 5px 19px -5px rgba(30, 30, 60, 0.57); */
	box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
}

.project a:not(.project-image-link):hover {
	background-color: rgb(141, 211, 128);
	transition: background-color 50ms 50ms;
	position: relative;
	top: 2px;
}

.project img {
	border-radius: 7px;
	width: 35vw;
	/* transition: width 500ms 100ms; */
	transition: width 400ms 30ms;
}

.project img:hover {
	width: 36.5vw;
}

/* ******END Projects Page********************* */

/* ******Contact Page************************** */

.contact-header {
	font-family: "Josefin Sans", sans-serif;
	font-size: clamp(1rem, 0.7313rem + 1.194vw, 2rem);
	padding: 1vw;
	position: relative;
	/* top: 20vw; */
	top: 5rem;
	width: 26vw;
	left: 35vw;
	/* right: 10vw; */
	/* margin: 2vw; */
}

.contact-text {
	text-align: center;
	font-family: "Comfortaa", cursive;
	font-size: clamp(0.5rem, 0.167rem + 1.5671vw, 1.5rem);
	/* font-size: clamp(0.5rem, 0.3269rem + 0.7692vw, 1rem); */
	padding: 1vw;
	position: relative;
	/* top: 20vw; */
	top: 6rem;
	left: 4vw;
	width: 70%;
	/* max-width: 50vw; */
	margin: 1vw;
}

.fa-copy {
	background-color: #d3dfa2;
	border-radius: 3rem;
}

.fa-copy:hover {
	background-color: #7aa355;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
	top: 6rem;
	left: 13vw;
	width: 50%;
	margin: 2vw;
}

input {
	border-radius: 0.3rem;
	padding: 1vw;
	font-family: "Josefin Sans", sans-serif;
}

textarea {
	border-radius: 0.3rem;
	width: 100%;
}

button {
	padding: 0.5rem;
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.2rem;
	text-align: center;
	border-radius: 2rem;
	background-color: #c8d8aa;
	box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
	transition: background-color 50ms 50ms;
	margin-bottom: 1.2rem;
}

button:hover {
	background-color: #e1ecd7;
	position: relative;
	top: 3px;
	transition: top 50ms 50ms;
	transition: background-color 50ms 50ms;
}

i:hover {
	cursor: pointer;
}

.send-button {
	padding: 10px 25px;
}

/* ******END Contact Page********************** */
#footer {
	font-family: "Josefin Sans", sans-serif;
	/* font-size: clamp(0.2rem, 2.2vw, 0.8rem); */
	font-size: clamp(0.5rem, 0.125rem + 1.6667vw, 1rem);
	z-index: 1;
	text-align: center;
	max-width: 15rem;
	position: fixed;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 0.5rem;
	width: 30vw;
	background-color: rgb(255, 255, 255, 0.6);
	border-radius: 1rem;
}

/* ***********Thank you page********************************* */

.thankyou a {
	text-decoration: none;
	position: relative;
	top: 2vw;
	margin: 1vw;
	background-color: #86aa69;
	box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
}

.thankyou a:hover {
	top: 2.2vw;
	background-color: #c1dbc1;
	transition: top 100ms 100ms;
	transition: background-color 10ms 10ms;
}

.container-thankyou {
	font-family: "Comfortaa", cursive;
	font-size: clamp(0.7rem, 0.5962rem + 0.4615vw, 1rem);
	text-align: center;
	position: relative;
	top: 12vw;
	/* width: 100%; */
	margin: 10vw;
	line-height: 3rem;
	background-color: rgb(248, 243, 233, 0.7);
	border-radius: 4rem;
}

/* **********END Thank you page****************************** */
/** Fade Ideas  ############################################# */
*/ .animate-in {
	-webkit-animation: fadeIn 0.5s ease-in;
	animation: fadeIn 0.5s ease-in;
}

.animate-out {
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	opacity: 0;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* ***SCROLLBAR******************************************* */
/* width */
::-webkit-scrollbar {
	width: clamp(0.5rem, 0.125rem + 1.6667vw, 1rem);
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(120, 148, 84);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #97b497;
}

/* !For landscape phone */
@media only screen and (max-height: 620px) {
	#logo {
		max-width: 15vw;
		margin: 0.1rem;
	}

	#button-container {
		margin-right: 7rem;
	}

	#button-container-about {
		/* position: relastive; */
		/* left: -20vw; */
		position: sticky;
		top: 1rem;
		z-index: 10;
		margin-right: 30vw;
	}

	#button-container-contact {
		position: relative;
		/* float: left; */
		/* flex-direction: column; */
		left: 0;
		/* right: 4rem; */
		margin-right: 1rem;
	}

	.icon-container {
		flex-direction: row;
		bottom: 1.5rem;
		gap: 0.4rem;
		margin: 0.5rem;
		margin-bottom: 1rem;
	}

	.icon {
		width: 1rem;
	}

	.icon:hover~#icon-text {
		display: none;
	}

	.about-container {
		top: 3rem;
	}

	.contact-header {
		top: 5vw;
	}

	.contact-text {
		top: 5vw;
	}

	.form {
		top: 5vw;
	}

	#footer {
		font-size: 0.6rem;
		max-width: 8rem;
		padding: 0.5rem;
		width: 30vw;
	}
}

/* !!!!!!!!For phone in portrait mode */
@media only screen and (max-width: 570px) {
	#logo {
		max-width: 20vw;
		/* width: clamp(7rem, 20vw, 12rem); */
		margin: 0.1rem;
	}

	#middle-text {
		width: 50%;
	}

	#button-container {
		flex-direction: column;
		float: right;
		right: 0;
		left: unset;
		top: 0;
		margin-right: 0.2rem;
		width: 30vw;
	}

	#button-container-about {
		/* position: relative; */
		/* flex-shrink: inherit; */
		/* flex-direction: column; */
		right: 1rem;
		gap: 0;
		margin-right: 0;
	}

	#button-container-contact {
		position: fixed;
		/* float: left; */
		/* flex-direction: column; */
		/* left: 19vw; */
		left: 19vw;
		/* margin-right: 2vw; */
	}

	.icon-container {
		/* bottom: 1.5rem; */
		/* bottom: 3rem; */
		margin: 1.4rem;
		/* padding: 0; */
	}

	.icon {
		width: 2rem;
	}

	.about-container {
		margin-top: 1rem;
		max-width: 55vw;
		top: 5rem;
	}

	.contact-text {
		margin: 1rem;
		/* top: 5vw; */
		font-size: 2.5vw;
	}

	.form {
		/* top: 5vw; */
		gap: 2rem;
	}

	#footer {
		font-size: 0.5rem;
		max-width: 5rem;
		padding: 0.5rem;
		width: 30vw;
	}
}

/* !!!!Project page quirk!!! */
@media only screen and (max-width: 1100px) {
	#button-container-projects {
		flex-direction: column;
		left: 74vw;
		margin-right: 2vw;
	}

	/* #footer {
    font-size: 0.5rem;
    max-width: 5rem;
    padding: 0.5rem;
    width: 30vw;
  } */
}

/* !!!!!!For EXTREME cases *****/
@media only screen and (max-height: 620px) and (max-width: 570px) {
	#logo {
		max-width: 40vw;
		width: 6rem;
		margin: 0.1rem;
	}

	#button-container {
		margin-right: 0;
	}

	.icon-container {
		flex-direction: column;
		bottom: 1.5rem;
		gap: 0.4rem;
		margin: 5vw;
	}

	.icon {
		width: 1rem;
	}

	.icon:hover~#icon-text {
		display: none;
	}

	#button-container-contact {
		position: fixed;
		/* float: left; */
		flex-direction: column;
		left: 70vw;
		/* left: 2vw; */
		/* margin-right: 2vw; */
	}

	.about-container {
		left: 2vw;
	}

	#footer {
		font-size: 0.4rem;
		max-width: 7rem;
		padding: 0.5rem;
		width: 22vw;
	}
}