* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* min-width: 300px; */
}
/* TODO */
/*? font-family: 'Comfortaa', cursive; */
/* ?font-family: 'Josefin Sans', sans-serif; */
/* ?font-family: 'Roboto Flex', sans-serif;   */
body {
  background-color: white;
}

/*  */
#logo {
  z-index: 98;
  border-radius: 15rem;
  position: fixed;
  max-width: 200px;
  /* min-width: 10vw; */
  /* width: clamp(12rem, 2.5vw, 15rem); */
  /* width: clamp(12rem, 9.75rem + 10vw, 15rem); */
  width: 20vw;
  left: 0;
  top: 0;
  /* padding: 1rem; */
  margin: 1rem;
  /* width: 40%; */
  /* width: 50%; */
}
#logo:hover {
  background-color: rgb(122, 170, 113);
}

#button-container {
  z-index: 2;
  position: fixed;
  left: 40vw;
  display: flex;
  justify-content: right;
  align-content: center;
  gap: 1rem;
  margin: 1rem;
  /* margin-right: 4rem; */
  margin-right: 9vw;
}

.button {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 20px;
  z-index: 99;
  text-align: center;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-decoration: none;
  /* padding: clamp(1rem, 5vw, 2rem); */
  padding: 0.6rem;
  margin: 0.2rem;
  /* transition: background-color 200ms 300ms; */
  /* transition: box-shadow 100ms 100ms; */
  /* transition: transform 0.2s, box-shadow 0.2s; */
}
.button:hover {
  /* transition: background-color 10ms 20ms; */
  background-color: rgb(158, 209, 133, 0.9);
  /* box-shadow: 0 20px 100px 1px rgba(255, 255, 255, 0.4); */
  /*  */
  transition: transform 100ms 100ms;
  transform: translateY(4px);
  box-shadow: -4px 15px 25px -4px rgba(30, 30, 60, 0.25);
}
/* For phone in portrait mode */
@media only screen and (max-width: 570px) {
  #button-container {
    flex-direction: column;
    float: right;
    right: 0;
    margin-right: 2rem;
  }
  .about-container {
    margin-top: 7vh;
  }
}
/* *****Background Photos******************** */
.background-photo {
  z-index: 0;
  max-width: 800px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 80%;
}

.background-photo-about {
  z-index: 0;
  max-width: 600px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 44%;
}
.background-photo-projects {
  z-index: 0;
  max-width: 1500px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  /* width: 100%; */
}
.background-photo-contact {
  z-index: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 60%;
  /* max-width: 700px; */
  /* width: 100%; */
  /* right: unset; */
  /* bottom: unset; */
}
/* *Background Photos END*********************************** */

/***** Icon Container ****************************************/
.icon-container {
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 2 2 3rem;
  gap: 1rem;
  position: fixed;
  left: 0;
  bottom: 3rem;
  margin: 2rem;
  padding: 0;
  /* height: clamp(20rem, 5vh, 40rem); */
}
.icon-container a {
  text-decoration: none;
  color: black;
  /* pointer-events: none; */
  /* font-size: clamp(0.5rem, 0.167rem + 1.5671vw, 1.5rem); */
}
#icon-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(0.5rem, 0.167rem + 1.5671vw, 1.5rem);
  position: relative;
  left: 1vw;
  /* bottom: 1.6vw; */
  bottom: clamp(0.5rem, 0.167rem + 1.5671vw, 1.5rem);
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 4px;
  padding: 4px 6px 4px;
  display: none;
  pointer-events: none;
  /* box-shadow: 22px 14px 24px 9px rgba(30, 30, 60, 0.26); */
}
.icon {
  width: clamp(2.3rem, 5vw, 3.5rem);
  border-radius: 2rem;
}
.icon:hover {
  background-color: rgb(181, 223, 170);
  box-shadow: -11px 15px 34px -5px rgba(30, 30, 60, 0.3);
}
.icon:hover ~ #icon-text {
  display: inline;
}
/* ***END Icon Container************************************ */
/* !For landscape phone */
@media only screen and (max-height: 620px) {
  #logo {
    /* width: 4rem; */
  }
  #button-container {
    margin-right: 7rem;
  }
  .icon-container {
    flex-direction: row;
    bottom: 1.5rem;
  }
  .icon {
    width: clamp(2rem, 4vw, 3rem);
  }
}
/* **Texts **********************************/
.about-container {
  z-index: 98;
  font-family: "Comfortaa", cursive;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2rem;
  /* font-size: clamp(0.5rem, 0.1538rem + 1.5385vw, 1.5rem); */
  font-size: clamp(0.5rem, 0.167rem + 1.5671vw, 1.5rem);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 45vw;
  line-height: clamp(1.2rem, 0.867rem + 1.5671vw, 2.2rem);
  left: 10vw;
  margin-left: 3rem;
  top: 10rem;
}
.dev-icons {
  font-family: "devicons";
  font-size: clamp(1rem, 0.3585rem + 3.0189vw, 3rem);
}

#middle-text {
  text-align: center;
  font-family: "Comfortaa", cursive;
  /* font-size: clamp(2rem, 0.8148rem + 5.9259vw, 6rem); */
  font-size: clamp(2rem, 0.5rem + 6.6667vw, 4rem);
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -20%);
  margin: 0;
  /* padding: 1rem; */
  background-color: rgb(255, 255, 255, 0.5);
  /* background-color: white; */
}
/* ******Projects Page************************* */
.projects {
  /* /* font-family: "Comfortaa", cursive; */
  font-family: "Josefin Sans", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  /* font-size: clamp(0.5rem, 0.1538rem + 1.5385vw, 1.5rem); */
  font-size: clamp(0.5rem, 0.167rem + 1.5671vw, 1.5rem);
  position: relative;
  max-width: 45vw;
  left: 10vw;
  margin-left: 3rem;
  top: 10rem;
  /* border: 1px solid green; */
  padding: 3rem;
}
.projects h1 {
  margin-bottom: 2vh;
  /* text-align: center; */
}
.project-container {
  display: grid;
  /* grid-template: 20vw 20vw / 20vw 20vw; */
  grid-template-columns: repeat(auto-fill);
  /* grid-template: 2fr 2fr / 2fr 2fr; */
  gap: 2rem 1rem;
  justify-content: center;
  align-items: center;
  /* justify-self: stretch; */
  /* grid-auto-flow: row; */
}
.project {
  text-align: center;
}
.project p {
  margin: 2vw;
}
.project-name {
  font-weight: 800;
  text-shadow: 1px 1px 2px black;
}
.project a {
  text-decoration: none;
  font-weight: 700;
  margin: 1vw;
  padding: 0.6vw 1.8vw;
  background-color: rgb(175, 223, 167);
  border-radius: 1rem;
  text-align: center;
  /* font-size: 2rem; */
  color: black;
  transition: background-color 100ms 50ms;
  transition: top 100ms 50ms;
  box-shadow: 1px 2px 1px rgb(0, 0, 0, 0.3);
  /* box-shadow: -1px 5px 19px -5px rgba(30, 30, 60, 0.57); */
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
}
.project a:hover {
  background-color: rgb(141, 211, 128);
  position: relative;
  top: 2px;
}
.project img {
  border-radius: 7px;
  width: 35vw;
  /* transition: width 500ms 100ms; */
  transition: width 400ms 30ms;
}
.project img:hover {
  width: 36.5vw;
}
/* ******END Projects Page********************* */

/* ******Contact Page************************** */
.contact-header {
  font-family: "Josefin Sans", sans-serif;
  padding: 1vw;
  position: relative;
  top: 20vw;
  left: 20vw;
}
.contact-text {
  font-family: "Comfortaa", cursive;
  font-size: clamp(0.5rem, 0.167rem + 1.5671vw, 1.5rem);
  padding: 1vw;
  position: relative;
  top: 20vw;
  left: 20vw;
  width: 50vw;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  position: relative;
  top: 20vw;
  left: 20vw;
  max-width: 50vw;
}
input {
  padding: 1vw;
  font-family: "Josefin Sans", sans-serif;
}
textarea {
  max-width: 50vw;
  max-height: 20vh;
}
button {
  padding: 1rem;
  font-family: "Josefin Sans", sans-serif;
}
i:hover {
  cursor: pointer;
}
/* ******END Contact Page********************** */
#footer {
  font-family: "Josefin Sans", sans-serif;
  /* font-size: clamp(0.2rem, 2.2vw, 0.8rem); */
  font-size: clamp(0.5rem, 0.125rem + 1.6667vw, 1rem);
  z-index: 1;
  text-align: center;
  max-width: 15rem;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0.5rem;
  width: 30vw;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 1rem;
}

/** Fade Ideas  ############################################# */
*/ .animate-in {
  -webkit-animation: fadeIn 0.5s ease-in;
  animation: fadeIn 0.5s ease-in;
}

.animate-out {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ***SCROLLBAR******************************************* */
/* width */
::-webkit-scrollbar {
  width: clamp(0.5rem, 0.125rem + 1.6667vw, 1rem);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(120, 148, 84);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #97b497;
}
