* {
	font-family: Montserrat, sans-serif;
	font-size: 1rem;
	font-weight: 500;
	/* background-color: rgb(57, 63, 63); */
}

h1 {
	color: rgb(32, 70, 22);
	font-size: 1.7rem;
	font-weight: 500;
	margin: 3vw;
}

h2 {
	margin: 2vw;
}

.header {
	font-size: 2rem;
	font-weight: 700;
}

.contact {
	font-size: 1.3rem;
	margin: 10vw;
}

.benefits-header {
	font-weight: 600;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

p {
	font-weight: 400;
	letter-spacing: 0.5px;
	margin-top: 15px;
}

.logo {
	max-width: 20vw;
	max-height: 20vh;
	min-width: 80px;
	min-height: 80px;
	margin-right: 3vw;
}

.nav-link {
	color: black;
	font-size: 1.2rem;
	padding: 0.7rem 2.2rem 0.7rem 2.2rem;
}

.nav-link:hover {
	color: green;
}

.dev-diary {
	max-height: 80vh;
}

li {
	font-size: 1.2rem;
}

.inspiration-header {
	margin: 1rem;
}

.hidden {
	margin: 40vh;
}

.capture {
	margin-top: 4vh;
}

.custom-shape-divider-bottom-1676329631 {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1676329631 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 10vh;
	transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1676329631 .shape-fill {
	fill: #5C9616;
}


/* ************BUTTONS CSS ****************/
button {
	user-select: none;
	width: auto;
	height: auto;
	max-width: 40vw;
	text-align: center;
	white-space: nowrap;
	overflow: visible;
	text-overflow: ellipsis;

}

.button {
	display: inline-block;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
	z-index: -1;
	color: #090909;
	padding: 0.5em 1.0em;
	margin: 0.4rem;
	margin-top: 1rem;
	margin-bottom: 20vh;
	font-size: 1.5rem;
	font-weight: 700;
	font-size: 1.5rem;
	padding: 20px 30px;
	max-width: 100%;
	white-space: normal;
	text-align: center;
	box-sizing: border-box;
	word-wrap: break-word;
	border-radius: 0.5em;
	background: #e8e8e8;
	border: 1px solid #e8e8e8;
	box-shadow: 6px 6px 12px #c5c5c5,
		-6px -6px 12px #ffffff;
	transition: transform 0.1s ease-out;
	transition: box-shadow 0.1s ease-in-out;
}

.button:active {
	color: #ffffff;
	box-shadow: inset 4px 4px 12px #c5c5c5,
		inset -4px -4px 12px #ffffff;
}

.button:before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%) scaleY(1) scaleX(1.25);
	top: 100%;
	width: 140%;
	height: 180%;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	display: block;
	transition: all 0.9s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
}

.button:after {
	content: "";
	position: absolute;
	left: 55%;
	transform: translateX(-50%) scaleY(1) scaleX(1.45);
	top: 180%;
	width: 160%;
	height: 190%;
	background-color: #5dbd50;
	border-radius: 50%;
	display: block;
	transition: all 0.5s 2s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
}

.button:hover {
	/* border: 1px solid #5b943e; */
	transform: translate(0px, 3px);
	transition-delay: 0.1s;
	box-shadow: 3px 3px 6px #c5c5c5,
		-6px -6px 12px #ffffff;
	transition: box-shadow 0.1s ease-in-out;
}

.button:hover:before {
	top: -35%;
	background-color: #4a9633;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);

}

.get-button {
	max-width: 30vw;
}

/************SCROLL BAR********************/

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

body::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
			left bottom,
			left top,
			color-stop(0.44, rgb(183, 207, 116)),
			color-stop(0.72, rgb(70, 121, 40)),
			color-stop(0.86, rgb(45, 88, 31)));
}